@{
    ViewData["Title"] = "Tutorial - Page 1";
    ViewData["Active"] = "Tutorial";
}

@section Header {
    <h1>Welcome to Tutorial Page 1</h1>
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Introduction to MyWebsite</h3>
            <p>Welcome to the first page of our tutorial series. In this tutorial, we will walk you through the basics of using MyWebsite.</p>

            <p>Here’s what you will learn on this page:</p>
            <ul class="list-group">
                <li class="list-group-item">How to navigate through the website</li>
                <li class="list-group-item">Understanding the main sections</li>
                <li class="list-group-item">Exploring the Home, About, and Contact pages</li>
            </ul>

            <p>Once you’re comfortable with the basics, move on to the next page for more advanced features and tips.</p>

            <div class="text-center mt-4">
                <a href="/Help/Tutorial/Page2" class="btn btn-primary">Next: Explore the Features</a>
            </div>
        </div>
    </div>
</div>
