@{
    ViewData["Title"] = "Tutorial - Page 3";
    ViewData["Active"] = "Tutorial";
}

@section Header {
    <h1>Welcome to Tutorial Page 3</h1>
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Advanced Tips and Tricks</h3>
            <p>Congratulations on reaching the final page of our tutorial series! This page will provide you with some advanced tips and tricks to enhance your experience on MyWebsite.</p>

            <p>Here are some advanced topics we'll cover:</p>
            <ul class="list-group">
                <li class="list-group-item">Shortcuts for faster navigation</li>
                <li class="list-group-item">Best practices for using MyWebsite efficiently</li>
                <li class="list-group-item">Integration with external tools and services</li>
            </ul>

            <p>These tips will help you make the most out of your experience and ensure that you are using MyWebsite to its fullest potential.</p>

            <div class="text-center mt-4">
                <a href="/Help/Home" class="btn btn-success">Back to Help Home</a>
            </div>
        </div>
    </div>
</div>
